* {
  box-sizing: border-box;
  border: 1px solid black;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("/Training/HomeWork_1/img/main-visual01.jpg");
}
header,
.logo,
.dp1 {
  display: flex;
  align-items: center;
}
.logo,
nav {
  justify-content: center;
  text-align: center;
  align-items: center;
  line-height: 6.375rem;
}
nav,
nav > .dp1 {
  display: flex;
  width: 1000px;
}
nav > .dp1 > li:nth-child(n) {
  flex-grow: 1;
}
header {
  background-color: #ff8d3f;
  height: 6.375rem;
  justify-content: space-between;
}
.dp1 > li > .dp2 {
  display: none;
  background-color: #17a2b8;
  position: absolute;
  top: 100%;
  white-space: nowrap;
}
.dp1 > li:hover .dp2 {
  display: block;
}
li {
  list-style: none;
}
a {
  text-decoration-line: none;
}
.dp2 > ul {
  display: flex;
}
.dp1 > li {
  position: relative;
}
.dp1 {
  height: 5rem;
}
.logo > strong,
a {
  color: white;
}
.type01,
.type02,
.type03,
.text-box {
  color: white;
}
